@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Madimi+One&display=swap');
a,
a:hover {
	text-decoration: none;
	color: inherit;
}

ul {
	padding: 0;
}
li {
	list-style: none;
}
